<h1>Bands</h1>

<ul class="link_list">
	<% @bands.each do |band| %>
		<li>
			<a class="link" href="<%= band_url(band) %>"><%= band.name %></a>
			<a class="nav_button edit_button" href="<%= edit_band_url(band) %>">Edit</a>
		</li>
	<% end %>
</ul>

<a class="nav_button" href="<%= new_band_url %>">New Band</a>